################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpenseTracker/Dashboard.cs
/ExpenseTracker/Dashboard.Designer.cs
/ExpenseTracker/Dashboard.resx
/ExpenseTracker/FinancialTracker.csproj
/ExpenseTracker/App.config
/ExpenseTracker/CategoryAdd.cs
/ExpenseTracker/CategoryAdd.Designer.cs
/ExpenseTracker/CategoryAdd.resx
/ExpenseTracker/CategoryMain.cs
/ExpenseTracker/CategoryMain.Designer.cs
/ExpenseTracker/CategoryMain.resx
/ExpenseTracker/Dashboard.cs
/ExpenseTracker/Dashboard.Designer.cs
/ExpenseTracker/Dashboard.resx
/ExpenseTracker/LoginForm.cs
/ExpenseTracker/LoginForm.Designer.cs
/ExpenseTracker/LoginForm.resx
/ExpenseTracker/ProfileEdit.cs
/ExpenseTracker/ProfileEdit.Designer.cs
/ExpenseTracker/ProfileEdit.resx
/ExpenseTracker/ProfileMain.cs
/ExpenseTracker/ProfileMain.Designer.cs
/ExpenseTracker/ProfileMain.resx
/ExpenseTracker/Program.cs
/ExpenseTracker/SignUpForm.cs
/ExpenseTracker/SignUpForm.Designer.cs
/ExpenseTracker/SignUpForm.resx
/ExpenseTracker/TransactionAdd.cs
/ExpenseTracker/TransactionAdd.Designer.cs
/ExpenseTracker/TransactionAdd.resx
/ExpenseTracker/TransactionMain.cs
/ExpenseTracker/TransactionMain.Designer.cs
/ExpenseTracker/TransactionMain.resx


.vs/
.git/